<div>
    <%# The action attribute tells the form where to send the data to be processed.%>
  <%# The method sets the kind of request being sent to the server.%>
  <form action="/users(.:format)" method="post" accept-charset="UTF-8">
    <legend>A form for creating a new user</legend>
    <input type="text" name="user[username]">
    <input type="email" name="user[email]">
    <input type="password" name="user[password]">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="submit" value="Submit This Form">
  </form>
</div>