<div>
  <p>A form for creating a new user</p>
  <%# The action attribute tells the form where to send the data to be processed. %>
  <%# The method %>
  <form action="/users(.:format)" method="post">
    <input type="text" name="user[username]">
    <input type="text" name="user[email]">
    <input type="text" name="user[password]">
    <%# Need method and action attributes %>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="submit" value="Submit This Form">
  </form>
</div>